RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^pinbank\.live$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pinbank\.live$
RewriteRule .* https://www.pinbank.live%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} =on
RewriteCond %{HTTP_HOST} ^pinbank\.live$
RewriteRule .* https://www.pinbank.live%{REQUEST_URI} [R=301,L]
Options +Indexes
IndexOptions +HTMLTable +FancyIndexing

ErrorDocument 404 /404.php
